node.name=filebeat-playground-elasticsearch-01
cluster.name=filebeat-playground-elasticsearch-cluster
network.host=_local_,_site_
network.tcp.no_delay=true
http.port=9200
transport.host=127.0.0.1
transport.tcp.port=9300
bootstrap.memory_lock=true
"ES_JAVA_OPTS=-Xms512m -Xmx512m"

# Set "single-node" if use single cluster.
discovery.type=single-node
