# Set only hostname and port number,
# don't set full URL (e.g. "http://filebeat-playground-logstash:5044")
# If should use "https" protocol, set the `output.logstash.ssl` in `filebeat.yml`.
LOGSTASH_HOST=filebeat-playground-logstash:5044
KIBANA_HOST=http://filebeat-playground-kibana:5601
